.vercel
.env
.env.*
!.env.example
.env.vercel.local
.DS_Store
Thumbs.db
*.log
node_modules/
reports/
italian-health-system/IHS*
moral-philosophy/*_V.mp4
moral-philosophy/*_P.m4a
moral-philosophy/*_I.png
moral-philosophy/*_Q.csv
moral-philosophy/MPA.png
moral-philosophy/MP.png
health-technology-assessments/HTA*
history-of-medicine/AF_*
history-of-medicine/SA_*
history-of-medicine/PH_*
information-processing/Public/*
statistics/content/**
statistics/StatisticsA.png
statistics/M_S_I.png
human-anatomy-1/LS_*
human-anatomy-1/CLS_*
human-anatomy-1/RSC_*
human-anatomy-1/HumanAnatomyA.png
medical-biology/media/**
medical-biology/BiologyVertical.png
genetics/public/**
physics/*.mp4
physics/*.m4a
physics/*.mp3
physics/*.png
physics/*.csv
physics/Physics_I.png
histology/*.mp4
histology/*.m4a
histology/*.png
histology/Histology.png
embryology/*.mp4
embryology/*.m4a
embryology/*.png
embryology/Embryology.png
histology-embryology/*.mp4
histology-embryology/*.m4a
histology-embryology/*.png
histology-embryology/InfographicA.png
chemistry/*.mp4
chemistry/*.m4a
chemistry/*.png
chemistry/Chemistry.png
introductory-biochemistry/*.mp4
introductory-biochemistry/*.m4a
introductory-biochemistry/*.png
introductory-biochemistry/IntroductionBiochemistry.png
chemistry-introductory-biochemistry/*.mp4
chemistry-introductory-biochemistry/*.m4a
chemistry-introductory-biochemistry/*.png
chemistry-introductory-biochemistry/I_C_I_B.png
assets/source/*.png
assets/source/*.jpeg
assets/source/*.jpg
